pandas
openpyxl
python-docx
python-pptx
pdfplumber
extract-msg
pytesseract
Pillow
requests
pdf2image
pydantic
langchain-community
langchain-qdrant
qdrant-client
torch
langchain-huggingface
langchain-core
langchain-openai
tqdm
json_repair
fastembed
lxml
tabulate
